$bronze: #eca83a
$test-red: #bc3622
$test-green: #417305
*
  font: 11px normal Arial, sans-serif
  margin: 0
  padding: 0
.test-wrapper
  width: 1320px
  margin: auto

.test-table
  border-collapse: collapse
  table-layout: fixed
  &-head td
    font-weight: bold
    background: #cccccc
  tr
    height: 36px
  &__place, &-head__place, .test-table__average
    width: 55px
    padding: 0 0 0 20px
  &__pizzeria
    width: 170px
    color: #87b2ff
    span
      text-decoration: none
      border-bottom: #e1f1ff solid 1px
  &__rating
    width: 100px
  &__quality
    width: 80px
  &__service
    width: 70px
    color: $test-red
  &__clean
    width: 80px
    color: $test-red
  &__totals
    width: 65px
  &__points
    width: 95px
    &_alert
      color: $test-red
  &__problems
    width: 585px
  tr:hover
    background: #f2f0ed
    .test-table__pizzeria
      color: #e97901
      span
        border-bottom: #f2e2d1 solid 1px
.test-table__prize
  position: relative
  padding: 0 0 0 20px
  &::before
    position: absolute
    top: 1px
    left: 0
    content: ""
    display: inline-block
    width: 12px
    height: 12px
    border-radius: 50%
.test-table__prize_gold::before
  background: gold
.test-table__prize_silver::before
  background: silver
.test-table__prize_bronze::before
  background: $bronze
.test-table__points-change
  position: relative
  padding: 0 0 0 10px
  &::before
    display: inline-block
    position: absolute
    content: ""
    width: 0
    height: 0
    left: 0
    top: 3px
    border-top: solid $test-red 7px
    border-left: solid transparent 4px
    border-right: solid transparent 4px
    border-bottom: solid $test-green 7px
.test-table__points-change_fall
  color: $test-red
  &::before
    border-bottom: none
.test-table__points-change_growth
  color: $test-green
  &::before
    top: 2px
    border-top: none
//Описание стилей для Искрографика
.sparkline
  width: 64px
  height: 17px
  vertical-align: bottom
  font-size: 0
  .sparkline__tick
    display: inline-block
    bottom: 0
    left: 0
    height: 15px
    width: 4px
    background: #d2d6d9
    transition-duration: 0.3s
    &.sparkline__tick_alert
      background: #cca099
  .sparkline__tick_active
    background: black
    &.sparkline__tick_alert
      background: $test-red

//Стили для различных разрешения экрана
@media all and (min-width: 790px) and (max-width: 1324px)
  .test-wrapper
    width: 790px
  .test-table-head__quality, .test-table-head__service, .test-table-head__clean,
  .test-table__quality, .test-table__service, .test-table__clean
    display: none
  .test-table__problems
    width: 250px
@media all and (max-width: 790px)
  .test-wrapper
    width: 320px
  .test-table__last-weak, .test-table__totals, .test-table__points, .test-table__problems,
  .test-table-head__problems, .test-table-head__points, .test-table-head__totals,
  .test-table-head__quality, .test-table-head__service, .test-table-head__clean,
  .test-table__quality, .test-table__service, .test-table__clean
    display: none
  .test-table__place, .test-table-head__place, .test-table .test-table__average
    width: 60px
    padding: 0 0 0 5px



